
.jumbotron {

	min-width: 300px ;
}

.btn {
	width: 80%;
}
.card{
	padding-bottom: 10px;
	width: 300px;
	min-width: 300px;
	margin: 10px;

}
.card-body{
	padding: 0;
	display: flex;
	flex-direction: column;
	

}
.card-title{
	padding: 5px 10px;
}
.card-text{
	padding: 0 10px;
}
.card-img-top{
	width: 300px;
	height: 250px;
	border-radius: 10px;
}

.d-flex{
	justify-content: center;
}
.footer{
	max-height: 150px;
	min-width: 300px;
	background-color: #EDF2F4;
	margin-top: 10px;
	text-align: center;
	padding: 10px;
}
.separation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 300px;
	align-items: center;

	
}

a{
	color: black;
}
a:hover{
	color: black;
}

.footer-container.about{
	position: absolute;
	bottom: -25px;
	left: 0px;
}
.footer-container{
	width: calc(100% - 15px);
	min-width: 285px;
}
.container-body{
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container-text {
	
	padding: 15px;
	margin-right: 20px;
}
.nav{
	min-width: 300px;
}